body{
    background-color: rgb(51, 118, 71);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2rem;
}
nav a{ 
    margin-right: 8px;
}
a{ text-decoration: none;
    color:  rgb(255, 255, 255);
    
}
a:hover{
    transition: ease;
    transition-duration: 1s;
    background-color: rgb(30, 94, 66);
    padding: 0px 4px;
    border-radius: 4px;
}
a:active{
    transition: ease;
    transition-duration: 1s;
    background-color: rgb(30, 94, 66);
    padding: 0px 4px;
    border-radius: 4px;
}
.foto-robo img{ 
    width: 360px;
    height: 360px;
    border-radius: 16px;
}
.video-robo iframe{
    width: 360px;
    height: 360px;
    border-radius: 16px;
}
.mapa-fabrica iframe{
    width: 360px;
    height: 360px;
    border-radius: 16px;
}